<html lang="en">
    <%- include('./partials/head.ejs')%>

    <body>

    <%- include('./partials/nav.ejs') %>

    <!--this part is the only difference compare to index.ejs-->
    <div class="blogs content">
        <h2>The content doesn't exist</h2>
    </div>

    <%- include('./partials/footer.ejs')%>
    </body>
</html>