<html lang="en">
    <%- include('./partials/head.ejs')%>

    <body>

    <%- include('./partials/nav.ejs') %>

    <!--this part is the only difference compare to index.ejs-->
    <div class="blogs content">
        <h2>About us</h2>
        <p>welcome to jerry's practice course</p>
    </div>

    <%- include('./partials/footer.ejs')%>
    </body>
</html>